<%= yield :top_of_page %>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-GB"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-GB"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9" lang="en-GB"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="<%= content_for?(:html_lang) ? yield(:html_lang) : "en-GB" %>"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="<%= content_for?(:html_lang) ? yield(:html_lang) : "en-GB" %>"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Exporting is GREAT" %></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700" />
    <link rel="stylesheet" href="../../assets/stylesheets/ukti-template.css" />

    <!--[if lt IE 9]><script src="<%= asset_path 'oldie-support.js' %>"></script><![endif]-->
    <script src="<%= asset_path 'modernizr.js' %>"></script>

    <link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>" type="image/png" />
    <link rel="mask-icon" href="<%= asset_path 'favicon.svg' %>" color="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= yield :head %>
  </head>

  <body<%= content_for?(:body_classes) ? raw(" class=\"#{yield(:body_classes)}\"") : '' %>>

    <div style="display:none;">
      <svg>
        <symbol id="icon-search" viewBox="0 0 1024 1024">
          <title>search</title>
          <path class="path1" d="M898.304 791.962l-193.485-193.485c29.184-47.974 45.978-104.192 45.978-164.454 0-174.899-151.603-326.502-326.554-326.502-174.899 0-316.723 141.824-316.723 316.723 0 174.95 151.552 326.554 326.502 326.554 58.163 0 112.64-15.77 159.488-43.162l194.509 194.56c19.098 19.046 49.92 19.046 68.915 0l48.282-48.23c18.995-19.046 12.083-43.008-6.912-62.003zM205.005 424.243c0-121.088 98.15-219.29 219.238-219.29 121.139 0 229.069 107.93 229.069 229.069s-98.15 219.29-219.29 219.29-229.018-107.93-229.018-229.069z"></path>
        </symbol>
      </svg>
    </div>

    <div class="background">
      <div class="background__item background--image" style="background-image:url('../../assets/images/backgrounds/banner-img4.jpg');"></div>
      <div class="background__item background--globe"></div>
    </div>

    <%= yield :body_start %>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink"><%= content_for?(:skip_link_message) ? yield(:skip_link_message) : "Skip to main content" %></a>
      </div>
    </div>

    <% unless @omit_header %>
    <header class="site-header outer-container <%= yield(:header_class) %>" role="banner">
      <nav class="navbar" role="navigation">
        <ul id="menu-main-navigation" class="nav navbar-nav">
          <li class="current-menu-item"><a href="#">Active Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </nav>

      <a href="<%= content_for?(:homepage_url) ? yield(:homepage_url) : "https://www.exportingisgreat.gov.uk/" %>" title="<%= content_for?(:logo_link_title) ? yield(:logo_link_title) : "Go to the Exporting is GREAT homepage" %>" class="site-header__logo">
        <img class="site-logo" alt="Exporting is Great" src="../../assets/images/eig-logo-flag.png" srcset="../../assets/images/eig-logo-flag.png 1x, ../../assets/images/eig-logo-flag-2x.png 2x" />
      </a>

      <%= yield :inside_header %>
    </header>
    <% end %>

    <%= yield :after_header %>

    <main class="main outer-container" role="main">

      <%= content_for?(:content) ? yield(:content) : yield %>

      <!-- primary header panel -->
      <header class="panel panel--primary panel--pointer">

        <h1 class="archive-header__title">Find an opportunity for your product or service</h1>

        <form role="search" method="get" class="search-form" action="#">
          <div class="search-form__field">
            <label for="searchinput" class="search-form__label u-visuallyhidden">Search</label>
            <input type="search" value="" name="s" class="search-form__input" id="searchinput" placeholder="Search" required>
            <button type="submit" class="search-form__submit"><svg class="icon-search"><use xlink:href="#icon-search"></use></svg></button>
          </div>
        </form>
      </header>

      <div class="panel">

        <!-- opportunities filters -->
        <div class="filters">
          <div class="filters__panel">
            <h3 class="filters__title">Choose sector <span class="filters__status"></span></h3>
            <ul class="filters__list">
              <li class="filters__item">
                <a class="filters__link" href="#" data-tax="sector" data-term="aerospace">Aerospace</a>
              </li>
              <li class="filters__item">
                <a class="filters__link" href="#" data-tax="sector" data-term="agriculture-horticulture-fisheries">Agriculture, Horticulture &amp; Fisheries</a>
              </li>
              <li class="filters__item">
                <a class="filters__link" href="#" data-tax="sector" data-term="...">...</a>
              </li>
              <li class="filters__item">
                <a class="filters__link" href="#" data-tax="sector" data-term="water">Water</a>
              </li>
            </ul>
          </div>

          <!-- <pre>
            <code class="language-html">

              <div class="filters">
                <div class="filters__panel">
                  <h3 class="filters__title">Choose sector <span class="filters__status"></span></h3>
                  <ul class="filters__list">
                    <li class="filters__item">
                      <a class="filters__link" href="#" data-tax="sector" data-term="aerospace">Aerospace</a>
                    </li>
                    <li class="filters__item">
                      <a class="filters__link" href="#" data-tax="sector" data-term="agriculture-horticulture-fisheries">Agriculture, Horticulture &amp; Fisheries</a>
                    </li>
                    <li class="filters__item">
                      <a class="filters__link" href="#" data-tax="sector" data-term="...">...</a>
                    </li>
                    <li class="filters__item">
                      <a class="filters__link" href="#" data-tax="sector" data-term="water">Water</a>
                    </li>
                  </ul>
                </div>
              </div>

            </code>
          </pre> -->

        </div>

        <div class="opportunities">

          <!-- opportunities headings -->
          <h1>h1. There are <span>1719</span> opportunities</h1>
          <h2 class="opportunities__sub-title">h2. There are <span>1719</span> opportunities</h2>
          <h3>h3. There are <span>1719</span> opportunities</h3>
          <h4>h4. There are <span>1719</span> opportunities</h4>
          <h5>h5. There are <span>1719</span> opportunities</h5>
          <h6>h6. There are <span>1719</span> opportunities</h6>


          <!-- opportunities description -->
          <p class="opportunities__description">Ordered by response date</p>

          <!-- opportunities email subscription form -->
          <div id="opportunities-subscribe-form">
            <form method="POST" action="#">
              <div class="subscribe-form__row">
                <h3>Subscribe to email alerts</h3>
                <p>Enter your e-mail address to receive alerts matching your search.</p>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Your email address" required="" class="short-input">
                <input type="submit" value="Subscribe" class="btn--dark">
              </div>
            </form>
          </div>


          <!-- opportunities results list -->
          <div id="opportunity-results-list" class="opportunities__list">

            <article class="opportunities__item">
              <h3 class="opportunities__title">
                <a class="arrow-link" href="#">Greece - Data processing services</a>
              </h3>
              <div class="opportunities__date">09/09/2016</div>
            </article>

            <article class="opportunities__item">
              <h3 class="opportunities__title">
                <a class="arrow-link" href="#">Switzerland - Online recruitment tool for international organisation</a>
              </h3>
              <div class="opportunities__date">24/07/2016</div>
            </article>

            <article class="opportunities__item">
              <h3 class="opportunities__title">
                <a class="arrow-link" href="#">Greece - Industry-specific software development services (healthcare)</a>
              </h3>
              <div class="opportunities__date">07/09/2016</div>
            </article>

          </div>


          <!-- external link -->
          <p>This is a paragraph containing an <a href="https://www.gov.uk" class="external-link">external link</a>. Iusto fugit placeat cumque, quibusdam suscipit. Quisquam provident pariatur hic aut impedit eaque amet in, quod temporibus labore consequuntur rerum eum autem.</p>


          <!-- data table -->
          <table>
            <thead>
              <tr>
                <th scope="col">Column One</th>
                <th scope="col">Column Two</th>
                <th scope="col">Column Three</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Data point 1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>


          <!-- pagination -->
          <div id="pager">
            <div class="pager">
              <ul class="pagination">
                <li class="arrow disabled unavailable previous">
                  <a href="#">&laquo;</a>
                </li>
                <li class="active current">
                  <a href="#">1</a>
                </li>
                <li class="">
                  <a href="#">2</a>
                </li>
                <li class="">
                  <a href="#">3</a>
                </li>
                <li class="disabled unavailable">
                  <a href="#">&hellip;</a>
                </li>
                <li class=""><a href="#">10</a>
                </li>
                <li class="arrow next">
                  <a href="#">&raquo;</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!-- sub page -->

      <div class="opportunity">

        <!-- secondary header panel -->
        <header class="panel panel--secondary">
          <h1 class="page-header__title">Sub-page heading</h1>
          <div class="opportunity__row">
            <h4 class="inline">Market(s):</h4>
            <p class="inline"> Bangladesh</p>
          </div>
          <div class="opportunity__row">
            <h4 class="inline">Sector(s):</h4>
            <p class="inline">Business &amp; Consumer Services, Construction, Oil &amp; Gas</p>
            <!-- is not activated for the moment: -->
            <!-- <button id="more-sectors-button">Load more sectors</button> -->
          </div>
          <div class="opportunity__row">
            <a href="#" class="arrow-link">Apply now</a>
          </div>
        </header>

        <div class="opportunity__main panel">
          <div class="opportunity__teaser">
            <p>Opportunity teaser lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora enim sed cum hic eos commodi omnis, consequatur asperiores cumque pariatur officiis.</p>
          </div>

          <div class="opportunity__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe eaque quae qui animi. Aperiam iste recusandae praesentium fuga tempore perferendis quod soluta quidem impedit tenetur ipsam ut, odit ducimus tempora.</p>
            <p>Brief description of assignment:</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora necessitatibus aliquid eos, repellendus saepe culpa dolores ipsum omnis quia perspiciatis itaque laboriosam laborum, quam vel possimus deleniti, ab nostrum! Consequatur.</Lore></p>
          </div>

          <div class="opportunity__row">
            <div class="icon-block value">
              <h4 class="icon-block__header">Value of contract:</h4>
              <p class="icon-block__paragraph">Value unknown</p>
            </div>

            <div class="icon-block date">
              <h4 class="icon-block__header">Response date:</h4>
              <p class="icon-block__paragraph">08/08/2016</p>
            </div>
          </div>

          <a href="https://www.exportingisgreat.gov.uk/register-an-interest?opportunity_id=118836" class="arrow-link">Apply now</a>

        </div>

        <div class="opportunity__information panel">
          <h2>Opportunity Subheading</h2>
          <ul class="info-list">
            <li class="info-list__item guide">
              <a class="no-link-styles" href="#" target="_blank">
                <div class="guide__copy">
                  <h4 class="guide__label">Guide label</h4>
                  <p class="guide__country">Country</p>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>


      <!-- register your interest form -->
      <div class="register-form panel">
        <form action="#" method="post" id="form-validation">

          <fieldset class="your-details">
            <h2>Your details</h2>

            <div class="register-form__row">
              <label for="first-name" class="required">First name</label>
              <input type="text" id="first-name" name="first_name" placeholder="Your first name" required="">
            </div>

            <div class="register-form__row">
              <label for="last-name" class="required">Last name</label>
              <input type="text" id="last-name" name="last_name" placeholder="Your last name" required="">
            </div>

            <div class="register-form__row">
              <label for="email-address" class="required">Email address</label>
              <input type="email" id="email-address" name="email_address" placeholder="Your email address" required="">
            </div>

            <div class="register-form__row">
              <label for="company-telephone" class="required">Telephone number</label>
              <input type="text" class="short-input" id="company-telephone" name="company_telephone" maxlength="13" placeholder="Your telephone number" required="">
            </div>
          </fieldset>

          <fieldset class="your-business">
            <h2 class="full-width-border-top">About your business</h2>

            <div id="companies-house-section" class="register-form__row">
              <label for="company-name" class="required">Company name</label>
              <input type="text" id="company-name" class="short-input" name="company_name" placeholder="Your company's name" required=""><button type="button" class="btn--dark companies-house-search-btn" search-companies-house="">Search Companies House</button><div id="companies-house-list"></div>

              <div id="companies-house-list">
                <div class="error-message">Please enter your registered company name</div>

                <ul class="companies-house-list">
                  <li>
                    <a class="company-result" href="#">Company Limited</a>
                    <a href="#" target="_blank"><small>(view on Companies House website)</small></a>
                  </li>
                  <li>
                    <a class="company-result" href="#">Company Gardens</a>
                    <a href="#" target="_blank"><small>(view on Companies House website)</small></a>
                  </li>
                  <li>
                    <a class="company-result" href="#">Company Foundation</a>
                    <a href="#" target="_blank"><small>(view on Companies House website)</small></a>
                  </li>
                </ul>
              </div>

              <label for="no-companies-house-number" class="no-companies-house-number">
                <input type="checkbox" id="no-companies-house-number" name="no_companies_house_number">
                I don't have a companies House number.
              </label>
            </div>

            <fieldset id="company-details" class="company-details" aria-hidden="true" style="display: none;">

              <div class="register-form__row">
                <label for="company-address" class="required">Company address</label>
                <input type="text" id="company-address" name="company_address" placeholder="Your company's address">
              </div>

              <div class="register-form__row companies-house-number">
                <label for="company-house-number" class="required">Companies house number</label>
                <input type="text" class="short-input" id="company-house-number" name="company_house_number" placeholder="Companies House number">
              </div>

              <div class="register-form__row">
                <label for="company-postcode" class="required">Post code</label>
                <input type="text" class="short-input" id="company-postcode" name="company_postcode" minlength="5" maxlength="8" placeholder="Your post code">
              </div>

              <div class="register-form__row">
                <label for="company-url">Company URL</label>
                <input type="text" id="company-url" name="company_url" placeholder="Your company's website">
              </div>
            </fieldset>
          </fieldset>

          <fieldset class="your-exporting">
            <h2 class="full-width-border-top">About your exporting experience</h2>

            <div class="register-form__row">
              <label for="existing-exporter" class="required">Have you sold products or services to overseas customers?</label>
              <select id="existing-exporter" name="existing_exporter" required="">
                <option value="" selected="" disabled="">Select</option>
                <option value="Not yet">Not yet</option>
                <option value="Yes, last year">Yes, in the last year</option>
                <option value="Yes, one two years ago">Yes, 1-2 years ago</option>
                <option value="Yes, over two years ago">Yes, over 2 years ago</option>
              </select>
            </div>

            <div class="register-form__row">
              <label for="company-sector" class="required">Please indicate which sector you work in</label>
              <select id="company-sector" name="company_sector" required="">
                <option value="" selected="" disabled="">Sector</option>
                <option value="aerospace">Aerospace</option>
                <option value="agriculture">Agriculture, Horticulture &amp; Fisheries</option>
                <option value="airports">Airports</option>
                <option value="automotive">Automotive</option>
                <option value="biotechnology">Biotechnology &amp; Pharmaceuticals</option>
                <option value="business">Business &amp; Consumer Services</option>
                <option value="chemicals">Chemicals</option>
                <option value="clothing">Clothing, Footwear &amp; Fashion</option>
                <option value="communications">Communications</option>
                <option value="construction">Construction</option>
                <option value="creative">Creative &amp; Media</option>
                <option value="defence">Defence</option>
                <option value="education">Education &amp; Training</option>
                <option value="electronics">Electronics &amp; IT Hardware</option>
                <option value="environment">Environment</option>
                <option value="financial">Financial &amp; Professional Services</option>
                <option value="food">Food &amp; Drink</option>
                <option value="giftware">Giftware, Jewellery &amp; Tableware</option>
                <option value="global">Global Sports Infrastructure</option>
                <option value="healthcare">Healthcare &amp; Medical</option>
                <option value="household">Household Goods, Furniture &amp; Furnishings</option>
                <option value="leisure">Leisure &amp; Tourism</option>
                <option value="marine">Marine</option>
                <option value="mechanical">Mechanical Electrical &amp; Process Engineering</option>
                <option value="metallurgical">Metallurgical Process Plant</option>
                <option value="metals">Metals, Minerals &amp; Materials</option>
                <option value="mining">Mining</option>
                <option value="oil">Oil &amp; Gas</option>
                <option value="ports">Ports &amp; Logistics</option>
                <option value="power">Power</option>
                <option value="railways">Railways</option>
                <option value="renewable">Renewable Energy</option>
                <option value="retail">Retail and Luxury</option>
                <option value="security">Security</option>
                <option value="software">Software &amp; Computer Services</option>
                <option value="textiles">Textiles, Interior Textiles &amp; Carpets</option>
                <option value="water">Water</option>
              </select>
            </div>

            <div class="register-form__row">
              <label for="company-explanation" class="required">Tell us how you can meet the requirements for this opportunity.</label>
              <textarea id="company-explanation" name="company_explanation" cols="30" rows="10" maxlength="1100" required=""></textarea>
              <span class="description">(max 1100 characters incl. spaces)</span>
            </div>

            <fieldset class="input-group register-form__row">
              <label for="terms-and-conditions" class="terms-and-condition">
                <input type="checkbox" id="terms-and-conditions" name="terms" value="yes">
                I agree my details may be used for marketing by UKTI and trusted partners
              </label>
              <label id="remember-details-checkbox" for="remember-my-details" aria-hidden="false" style="">
                <input type="checkbox" id="remember-my-details" name="remember_details" value="on">
                Remember my details
              </label>
            </fieldset>

          </fieldset>

          <input type="submit" name="register_interest_submit" class="btn--dark" value="Apply now">

          <div class="register-form__status active">Please fill out all the required fields marked with *</div>

        </form>

      </div>


    </main>


    <footer class="site-footer" role="contentinfo">

      <%= yield :footer_top %>

      <aside class="footer-exporting-guide">
        <div class="outer-container">
          <h2>Get your essential guide to exporting</h2>
          <!-- Form -->
          <div id="exporting-guide-form" class="exporting-guide-form">
            <form action="#" method="post">
              <label for="email-address" class="exporting-guide-form__label required">Email address</label>
              <input type="text" id="email-address" class="exporting-guide-form__input" name="email_address" placeholder="Email address" required>
              <button type="submit" name="exporting_guide_submit" class="arrow-link exporting-guide-form__submit">Submit</button>
            </form>
          </div>
        </div>
      </aside>

      <div class="outer-container">
        <!-- Footer nav -->
        <nav class="footer-nav">
          <div class="menu-footer-nav-container">
            <%= yield :footer_support_links %>
            <ul class="footer">
              <li><a href="#">Footer link</a></li>
              <li><a href="#">Footer link</a></li>
              <li><a href="#">Footer link</a></li>
              <li><a href="#">Footer link</a></li>
              <li><a href="#">Footer link</a></li>
              <li><a href="#">Footer link</a></li>
            </ul>
          </div>
        </nav>
        <!-- Logos -->
        <div class="footer-logos">
          <img src="../../assets/images/hmg-logo.png" srcset="../../assets/images/hmg-logo.png 1x, ../../assets/images/hmg-logo-2x.png 2x" class="footer-logo footer-logo--hmg" alt="HM Government">
          <img src="../../assets/images/eig-logo-flag-footer.png" srcset="../../assets/images/eig-logo-flag-footer.png 1x, ../../assets/images/eig-logo-flag-footer-2x.png 2x" class="footer-logo footer-logo--eig" alt="Exporting is Great">
        </div>
      </div>
    </footer>

    <script src="../../assets/javascripts/ukti-template.js"></script>
    <script src="../../assets/javascripts/prismjs.js"></script>

    <%= yield :body_end %>
  </body>
</html>
